<nav class="navbar">

    <div class="logo">

        <i class="fa-solid fa-leaf"></i>

        <div>

            <h2>Diet & Nutrition</h2>

            <span>Recommendation System</span>

        </div>

    </div>

    <ul class="nav-links">

        <li>
            <a href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li>
            <a href="{% url 'prediction' %}">
                Prediction
            </a>
        </li>

        <li>
            <a href="{% url 'history' %}">
                History
            </a>
        </li>

        <li>
            <a href="{% url 'about' %}">
                About
            </a>
        </li>

    </ul>

</nav>